:root {
  --color-primary: black;
}

html[data-bs-theme='dark'] {
  --color-primary: white;
}

.tp-cells {
  border-collapse: collapse;
  margin-bottom: 0.5em;
  width: max-content;

  td {
    border: 1px solid #a7a6ee4d;
    height: 29px;
    padding: 0;
    text-align: center;
    width: 29px;

    &.td-border-bottom {
      border-bottom: 2px solid var(--color-primary);
    }

    &.td-border-top {
      border-top: 2px solid var(--color-primary);
    }

    &.td-border-bottom-left {
      border-bottom: 2px solid var(--color-primary);
      border-left: 2px solid var(--color-primary);
    }

    &.td-border-left {
      border-left: 2px solid var(--color-primary);
    }
  }
}

.tp-fraction {
  display: block;
  width: max-content;
  padding: 0;
  text-align: center;
  border: 0 !important;
  margin-bottom: 0.5em;

  td {
    padding: 0 2px;
    border-width: 0;

    &.fraction__line {
      border-width: 0 0 2px;
    }
  }

  tr:first-child td {
    border-style: solid;
    border-width: 0 0 2px;
  }

  tr:first-child td[rowspan='2'] {
    border-width: 0;
  }
}