:root {
  --color-primary: black;
}

.tp-cells {
  border-collapse: collapse;
  margin-bottom: 0.5em;
  width: max-content;

  td {
    border: 1px solid #a7a6ee4d;
    height: 29px;
    padding: 0;
    text-align: center;
    width: 29px;

    &.td-border-bottom {
      border-bottom: 2px solid var(--color-primary);
    }

    &.td-border-top {
      border-top: 2px solid var(--color-primary);
    }

    &.td-border-bottom-left {
      border-bottom: 2px solid var(--color-primary);
      border-left: 2px solid var(--color-primary);
    }

    &.td-border-left {
      border-left: 2px solid var(--color-primary);
    }
  }
}